body {
width: 70%;
margin: 0 auto;
}


.map_container {
    background-image: url(../images/template/map.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 325px;
    width: 760px;
    position: relative;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    float: left;
    margin: 0px 0px 0px 20px;
}

.map_container a.dot {
    background-image: url(../images/template/dots.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    cursor: pointer;
}
.map_container a.dot.selected {
    background-image: url(../images/template/dots3.png);
}
.map_container a.dot:hover {
    background-image: url(../images/template/dots2.png);
}

.map_container .form_continent {
    position: absolute;
    top: 265px;
    left: 30px;
}

.detail_container {
    position: relative;
    width: 240px;
    height: 260px;
    display: block;
    float: left;
    padding: 15px 0 0 20px
}
.detail_container h3{
    margin: 0;
    padding: 0;
}
.map_container .city_detail {
    position: relative;
    top: 0px;
    width: 230px;
    padding: 10px 0px 0px 12px;
    border-left: 1px solid #a9b5c8;
    border-top: 1px solid #a9b5c8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.map_container .city_detail .city_photo {
    float: left;
    margin: 0px 15px 0px 0px;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 3px #4e5d74;
    -webkit-box-shadow: 0px 5px 3px #4e5d74;
    -moz-box-shadow: 0px 5px 3px #4e5d74;
    -webkit-border-radius: 8px;
}
.map_container .city_detail .city_info {
    width: 130px;
    float: left;
}


.city_detail_container {
    display: none;
}
.city_detail_container .city_detail {
    width: 300px;
    border: 1px solid #ccc;
}


























